@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Michroma&display=swap');

h1 {
  text-align: center;
  padding-top: 10px;
  font-family: 'Cinzel', serif;
}

#instructions {
  color: #ca0e21;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
}

#copyright {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

header {
  background-color: #669999;
  height: 70px;
  border-bottom: 2px solid black;
}

main {
  background-color: rgb(207, 228, 228);
}

footer {
  background-color: #669999;
  height: 70px;
  border-top: 2px solid black;
}

.card {
  background-color: #eae7e7;
}
